[pplacer]
path = ~/pplacer

[EPA]
path = ~/raxmlHPC

[hmmalign]
path = ~/hmmalign

[hmmsearch]
path = ~/hmmsearch
piped=True
elim=99999999
filters=false

[hmmbuild]
path = ~/hmmbuild

[jsonmerger]
path = ~/seppJsonMerger.jar

[exhaustive]
strategy = centroid
minsubsetsize = 2
sepp_alignment_threshold = 0
weight_placement_by_alignment = true
placer = pplacer

[tipp]
push_down = true