[pplacer]
path=~/pplacer

[hmmalign]
path=~/hmmalign

[hmmsearch]
path=~/hmmsearch
piped=False
elim=10000
filters=True

[hmmbuild]
path=~/hmmbuild

[jsonmerger]
path=~/seppJsonMerger.jar

[exhaustive]
strategy = centroid
minsubsetsize = 2
placementminsubsetsizefacotr = 4
placer = pplacer
weight_placement_by_alignment = True
