[pplacer]
path=/projects/sate7/tools/bin/pplacer

[hmmalign]
path=/projects/sate7/tools/bin/hmmalign

[hmmsearch]
path=/projects/sate7/tools/bin/hmmsearch
piped=True

[hmmbuild]
path=/projects/sate7/tools/bin/hmmbuild

[jsonmerger]
path=/v/filer4b/v25q009/smirarab/workspace/sepp/tools/merge/seppJsonMerger.jar

[exhaustive]
strategy = centroid
minsubsetsize = 4
